:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outputContainer{
  overflow: auto;
  user-select: all;
  padding: .5em;
}

.copy-success {
  padding-right: 1em;
}

button {
  cursor: pointer;
}

:host ::ng-deep {
  p {
    margin: 0 0 .25em;
    padding: 0;
  }
}