<editor
    #editor
    [formControl]="formCtrl"
    apiKey="v99jpi2gn1cpkj1kzpqpkxu3kcdi3hsjc15vrvpw19yd076h"
    [init]="{
        setup: setup,
        placeholder: 'Enter template here',

        menubar: false,
        inline_styles : true,
        toolbar: 'undo redo | bold italic underline removeformat | field cond trim space',
        contextmenu: 'functions fields',
        formats: {
            bold: { inline: 'span', styles: { fontWeight: 'bold' } },
            underline: { inline: 'span', styles: { textDecoration: 'underline' } },
            italic: { inline: 'span', styles: { fontStyle: 'italic' } }
        }
    }"
></editor>