/* You can add global styles to this file, and also import other style files */
html, body { margin: 0; padding: 0; height: 100%; }

header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

h1, menu {
    margin: 0;
}

header {
    background: #3E4E5E;
    color: #fff;
    padding: .25em;
    font-family: Arial;
    font-weight: normal;
    text-shadow: 0 0 5px #000;
}
.tox-toolbar__primary {
    background: #3E4E5E;
}